@{
    ViewBag.Title = "Over Computer reparatieshop Amersfoort";
}
<h2>@ViewBag.Title.</h2>

<p>
    Computer reparatieshop Amersfoort is een familiezaak die al meer dan 600 jaar computers repareert in Nederland. <br />
    In al die jaren zijn we groot geworden door klein te blijven. We richten ons met name op Jan-modaal. <br />
    Van laptops tot gaming computers, kan bij ons terecht voor een redelijke prijs. <br />
    Door efficiënt te werken blijven onze wachttijden beperkt tot een paar dagen.<br />
    Bent u niet geheel tevreden, krijgt u uw geld terug. Wij hebben service al 600 jaar hoog in het vaandel staan.
</p>
