@{
    ViewBag.Title = "Over ComputerReparatie Amersfoort";
}
<h2>@ViewBag.Title.</h2>

<p>
    ComputerReparatie Amersfoort is een familiezaak die al 600 jaar computers repareert in Nederland. Wij zijn al die jaren klein van schaal gebleven,
    en richten ons op de gewone burger. Van laptops tot gaming computers, je kan bij ons terecht voor een degelijke prijs. wachtijden blijven beperkt
    tot een paar dagen, en je krijgt geld terug bij ontevredenheid. op deze manier lever wij al 600 jaar top klandisie.
</p>
