@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Computerweg 37C<br />
    <abbr title="zou nogal vreemd zijn als we in maastricht zouden zitten"> Amersfoort,</abbr> 4637 VG<br />
    Telefoon: 07-362719363
</address>

<address>
    <strong>email:</strong>   <a href="mailto:Support@example.com">Support@computerreparatieamersfoort.nl</a><br />
</address>